/* styles copied from summarist-home-page assets*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { /*added to fix somethig on salespage.tsx*/
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.nav__list--wrapper {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-roboto);
}

.nav__list--wrapper ul {
  list-style: none;
}

.nav__list--login, .nav__list--mobile {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

a {
  text-decoration: none;
  color: inherit;
}

li{
  list-style:none;
}

.main-content {
  display:flex;
  width: calc(100% - 200px);
  min-height: 100vh;
  flex-direction: column;
}

.main-content-full {
  margin-left: 0; 
  width: 100%;
  min-height: 100vh;
}

 .footer__link--wrapper {
  text-decoration: none;
  line-height:1.6;
  color: inherit;
}

.footer__block ul {
  list-style: none;
  padding:0;
  margin:0;
}

.footer__block li{
  margin-bottom: 8px;
}

#footer {
  background-color: rgb(241, 246, 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}























/*End of styles from assets*/


